extends layout.pug
block content

    .boton-flotante-resultados.atrayendo-atencion(id='btnResultados') RESULTADOS
    .caja-inicio(id='viewfin' style='visibility:hidden')
            
        if estadoJuego && ultimoJugador && estadoJuego.length > 0
            div(id='finJuego')
                h4(style='text-align: center') 
                    a.boton-reiniciar(href='#') Volver a jugar 
                if !esta 
                    small.fuera Estas fuera del Ranking.
                else 
                    small#Ranquer Estas dentro del Ranking    
                ul.ultimo-jugador
                    li(id='idUnico' style='display:none;color:red') #{ultimoJugador.idUnico}
                    li Nombre:
                        strong #{ultimoJugador.nombre}
                    li Puntaje:
                        strong #{ultimoJugador.puntajeActual}
                    li Correctas:
                        strong #{ultimoJugador.respuestasCorrectas}
                    li Incorrectas:
                        strong #{ultimoJugador.respuestasIncorrectas}
                    li Tiempo total: 
                        strong #{ultimoJugador.tiempo_total}
                    li Tiempo promedio: 
                        strong #{ultimoJugador.tiempo_promedio}
            .ranking
                
                .contenedor-collapse
                    button(id="boton-collapse" type="button") Ver Ranking
                    div(id="contenido-collapse")
                        table#ranking-table
                            thead
                                tr
                                    th Ranking
                                    th Nombre
                                    th Puntos
                            tbody
                                - let ranki=1
                                each estado in estadoJuego
                                    if estado.id!==ultimoJugador.id
                                        
                                        tr.jugadoresRanki
                                            td #{ranki}
                                            td #{estado.nombre}
                                            td #{estado.puntajeActual}
                                    else
                                        tr.jugadorActual
                                            td #{ranki}
                                            td #{estado.nombre}
                                            td #{estado.puntajeActual}
                                    - ranki++
            script(src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js") 
        else 
            h4 Noy hay jugadores para armar el rankin
                                
